<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Tracker</title>
    <link href="CSS/form.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <header>
          <h2><a href="#"><i class="ion-plane"></i> IP Tracker</a></h2>
          <nav>
            <ul>
              <li>
                <a href="#" title="Home">Home</a>
              </li>
              <li>
                <a href="#" title="About">About</a>
              </li>
              <li>
                <a href="#" title="Contact">Contact</a>
              </li>
              <li>
                <a class="btn" href="#" title="Register / Log In">Register/Log In</a>
              </li>
            </ul>
          </nav>
        </header>
      
        <div class="cover">
          <h1>Discover what's out there.</h1>
          <form method="post" class="flex-form">
            <label for="from">
              <i class="ion-location"></i>
            </label>
            <input type="search" placeholder="Which IP do you want to locate?" name="ip">
            <input type="submit" value="Search">
          </form>
          <div id="madeby">
            <span>
              Photo by <a href="https://unsplash.com/@benblenner" target="_blank">Ben Blennerhassett</a>
            </span>
          </div>
        </div>
      
    </div>
</body>
</html>